@media screen and (max-width: 501px) {
  .w3mButton {
    margin-left: -1.5rem;
  }
}

.h1 {
  font-size: 3rem;
  writing-mode: vertical-rl;
  font-weight: 500;
  color: var(--white-color);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  max-width: 650px;
}

@media screen and (max-width: 799px) {
  .mainContainer {
    width: 100%;
    max-width: 100%;
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.subText {
  font-size: 1rem;
  line-height: 180%;
  text-align: center;
}

.button {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.1rem 5rem 1.2rem;
  border-radius: var(--border-radius);
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
  color: var(--black-color);
  transition: background 300ms, border 200ms;
  cursor: pointer;
}

@media screen and (max-width: 799px) {
  .button {
    font-size: 1rem;
    font-weight: 500;
    padding: 1.1rem 3rem 1.2rem;
    border: 1px solid var(--white-color);
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
  }
}

.button:disabled {
  background: var(--black-color);
  color: var(--white-color);
  border: 1px solid var(--white-color);
  cursor: not-allowed;
  opacity: 0.5;
}