.h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.button {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem 5rem;
  border-radius: var(--border-radius);
  background-color: #000;
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  cursor: pointer;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .button:hover span {
    transform: translateX(4px);
  }
}